#chess-board {
  width: 180px;
  height: 180px;
  position: relative;
  background: conic-gradient(
    #f7ebcc 25%,
    #654430 25% 50%,
    #f7ebcc 50% 75%,
    #654430 75%
  );
  background-size: 180px 180px;
}

#chess-board::before,
#chess-board::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #5f5d5e;
  border-radius: 50%;
  border: 3px solid #252324;
  box-shadow: 0 0 0 5px #5f5d5e;

  top: calc(90px / 2);
  left: calc(90px / 2);
  transform: translate(-50%, -50%);
}

#chess-board::after {
  top: calc(90px + 90px / 2);
  left: calc(90px + 90px / 2);
}
